@import "bootstrap-sprockets";
@import "bootstrap";

.cart-form {
  width: 5%;
}

.cart-form .btn {
  margin-top: 5px;
  margin-bottom: 2px;
}

.save-for-later a {
  color: white;
}

nav {
  background-color: lavender;
}

nav a {
  color: black;
}

.inline {
  display: inline;
}

#low-stock {
  color: red;
  font-size: 10px;
}

.all-yarn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

body {
  margin-bottom: 100px;
}
