@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

a {
  color: grey;
}

.cart-form {
  width: 30%;
}

.specials-form {
  width: 10%;
}

.cart-form, .specials-form, .btn {
  margin-top: 5px;
  margin-bottom: 2px;
}

.save-for-later a {
  color: white;
}

nav {
  background-color: rgba(106, 152, 151, .4);
}

nav a {
  color: black;
}

.inline {
  display: inline;
}

#low-stock {
  color: red;
  font-size: 10px;
}

.all-yarn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.btn {
  background-color: rgb(206, 210, 208);
}

#yarn-header {
  text-align: center;
  font-size: 40px;
}

body {
  margin-bottom: 100px;
  font-family: 'Open Sans', sans-serif;
}

.checkout-section {
  text-align: center;
}

.thank-you {
  text-align: center;
}
