@import "bootstrap-sprockets";
@import "bootstrap";

.cart-form {
  width: 5%;
}

.cart-form .btn {
  margin-top: 5px;
}

nav {
  background-color: lavender;
}

nav a {
  color: black;
}

.inline {
  display: inline;
}
