<h1> <%= @product.name.capitalize %> </h1>

<% if @product.stock <= 10 %>
  <h5 id="low-stock">Low stock</h5>
<% end %>

<h3>Reviews</h3>
<hr>

<%= render "reviews/index" %>

<h2>Post a Review</h2>
<%= render "reviews/form" %>
