<div class="welcome">
  <h1>Welcome to Nifty Knitters!</h1>
</div>
<hr>
<div class="row">
  <div class="col-md-6">
    <h2>Featured Products:</h2>
    <% if @featured_products.any? %>
      <% @featured_products.each do |product| %>
        <%= link_to product.name.capitalize, product_path(product) %>
      <% end %>
    <% else %>
      <p>There are no featured products.</p>
    <% end %>
  </div>

  <div class="col-md-6">
    <h2>Yarn Sale!!</h2>
    <% if @discount_products.any? %>
      <% @discount_products.each do |product| %>
        <%= link_to product.name.capitalize, product_path(product) %>
      <% end %>
    <% else %>
      <p>There are no discounted products.</p>
    <% end %>
  </div>

</div>
